<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.webratio.androidsupport"
    version="23.2.1">

  <name>Android Support v4</name>

  <platform name="android">
    <source-file src="libs/android-support-v4.jar" target-dir="libs" />
  </platform>
</plugin>
